# Collections Module

In [1]:
# namedtuple

In [2]:
t = (1, 2, 3)

In [3]:
t[0]

1

In [4]:
from collections import namedtuple

In [5]:
Dog = namedtuple('Dog', 'age breed name')

In [6]:
sam = Dog(age=2, breed='Lab', name='Sammy')

In [7]:
sam.age

2

In [10]:
sam.age

2

In [11]:
sam[0]

2

In [12]:
Cat = namedtuple('Cat', 'fur claws name')

In [13]:
c = Cat(fur='Fuzzy', claws=False, name='Kitty')

In [15]:
c

Cat(fur='Fuzzy', claws=False, name='Kitty')

In [16]:
c[1]

False