In [2]:
# equation that uses multiplication, division, an exponent, 
# addition, and subtraction that is equal to 100.25

In [70]:
(60 + (10 ** 2) / 4 * 7) - 134.75

100.25

In [8]:
 4 * (6 + 5)

44

In [9]:
4 * 6 + 5

29

In [10]:
4 + 6 * 5

34

In [13]:
type(3 + 1.5 + 4)

float

In [14]:
x = 25

In [71]:
x ** 0.5

5.0

In [72]:
x ** 2

625

In [19]:
#Strings

In [27]:
s = 'hello'

In [28]:
s[1]

'e'

In [73]:
# Reverse using slicing
s[::-1]

'olleh'

In [75]:
# Two methods of producing the letter '0' using indexing
s[-1]

'o'

In [76]:
s[4]

'o'

In [32]:
# Lists

In [35]:
my_list1 = [0, 0, 0]

In [77]:
[0] * 3

[0, 0, 0]

In [39]:
list3 = [1,2,[3,4,'hello']]

In [40]:
list3[2][2] = 'goodbye'

In [41]:
list3

[1, 2, [3, 4, 'goodbye']]

In [44]:
list4 = [5,3,4,6,1]

In [46]:
list4[::-1]

[1, 6, 4, 3, 5]

In [79]:
list4.sort()
list4

[1, 3, 4, 5, 6]

In [48]:
# Dictionaries

In [49]:
d = {'simple_key':'hello'}

In [50]:
# Grab 'hello'
d['simple_key']

'hello'

In [51]:
d = {'k1':{'k2':'hello'}}

In [52]:
# Grab 'hello'
d['k1']['k2']

'hello'

In [83]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

In [84]:
#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [85]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [86]:
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

In [64]:
# Sets

In [65]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

In [66]:
set(list5)

{1, 2, 3, 4, 11, 22, 33}

In [67]:
# Booleans

In [68]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

In [69]:
l_one[2][0] >= l_two[2]['k1']

False